.sm-dropdown {
    position: relative;

    .sm-dropdown-cont {
        height: 300px;
        width: 100%;
        position: absolute;
        margin-top: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
}
