{
    "presets": [
        "@babel/preset-env", 
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        ["import", { 
            "libraryName": "lodash",
            // 子模块对应文件夹
            "libraryDirectory": "",
            // 是否采用驼峰命名
            "camel2DashComponentName": false
        }, "lodash"],
        ["babel-plugin-import", {
            "libraryName": "antd",
            "style": true   // or 'css'
        }, "antd"]
    ]
}
